#start-root {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 4rem;
}

#start-select-div {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

#start-select-div > label {
  display: block;
  margin-bottom: 0.6rem;
  font-weight: bold;
}

#start-select-div > select {
  width: 8rem;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #495057;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

#start-btn-div > button {
  float: none;
  width: 8rem;
  height: 3rem;
  font-size: 1.2rem;
}